*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* utility class */
.bg_blue{
  background-color: #0C325A;
}
.bg_green{
  background-color: #7CBB02
}
.bg_grey{
  background-color: #D3D3D3
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
/* /utility class */

.container{
  width: 80%;
  margin: auto;
}

/* header */
/* navbar */
.navbar{
  height: 80px;
  padding: 10px 0px;
}

.header_logo{
  width: 15%;
}
.header_menu_left{
  width: 45%;
}
.header_menu_right{
  width: 40%;
}

.menu_list{
  line-height: 3em;
}
.menu_list_left{
  text-align: right;
}

ul li{
  display: inline-block;
  list-style: none;
  color: white;
  line-height: 10px;
  padding-left: 18px;
}

li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
}

.botton_blue{
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 16px;
}
.botton_green{
  border-radius: 4px;
  padding: 5px 12px;
}

/* hover on navbar */
li:hover a{
  text-decoration: underline;
}
.botton_blue:hover{
  background-color: white;
  color: #0C325A
}
.botton_green:hover {
  background-color: white;
  color: #7CBB02
}
/* /navbar */

/* hero_image */
.hero_container{
  background-image: url(../img/banner_header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 120% 110%;
}
.background_hero_image{
  height: 420px;
  position: relative;
}
/* hero_image text */
.hero_text{
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}
.hero_text h1{
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 30px;
}
.botton_large{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
  padding: 15px;
  color: white;
}
/* hover on hero_image */
.botton_large:hover{
  background-color: white;
  color: #7CBB02;
  text-decoration: underline;
}
/* /hero_image */

/* main */
/* /grey banner */
.grey_banner{
  text-align: center;
  padding: 30px 0;
}

.paragraph{
font-size: 16.5px;
color: grey;
line-height: 1.5em;
}
/* /grey banner */

/* first row */
.card{
  width: 33.33%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.card_image{
  height: 180px;
  margin: 45px 0px 20px 0px;
}

.card > h2{
  color: #7CBB02;
  font-weight: 500;
}

.hr_toprow {
  margin: 20px 40%;
  width: 20%;
}
/* /first row */
.spacer{
  margin: 30px 10px;
  border: 0.1px solid #D3D3D3;
}
/* second row */
.mountain_image, .card_right{
  width: 50%;
  padding: 30px 50px;
}

.card_right h2{
  font-size: 32px;
  font-weight: 500;
}
.card_right .paragraph{
  padding: 15px 100px 15px 0;
}
.card_right a{
  color: #2387dc;
}
/* second row */
/* /main */

/* footer */
.backgroung_footer{
  height: 150px;
}
.banner_footer{
  height: 150px;
  position: relative;

}
.footer_row{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer_left{
  width: 50%;
}
.footer_right{
  width: 50%;
  text-align: right;
  line-height: 3em;
}
.footer_left h2{
  font-size: 35px;
  font-weight: 500;
}
.mg_25{
  margin-left: 25px;
}
/* botton fixed down */
#help{
  position: fixed;
  bottom: 0;
  right: 190px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
/* /footer */
